h1 {
	text-align: center;
	margin: 0;
}
#playerTurnDisplay {
	text-align: center;
	width: 150px;
	margin: 0px auto 20px auto;
}
.xTurn {
	background: red;
}
.yTurn {
	background: blue;
}
table {
	margin: auto;
}
td {
	width: 150px;
	height: 150px;
	text-align: center;
}
.vertical {
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.horizontal {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.circle {
	font-size: 100px;
	color: blue;
}
.cross {
	font-size: 100px;
	color: red;
}
