h1 {
	text-align: center;
	margin: 0;
}
.gameOver {
	background: #14FF00;
	border: 3px solid #14FF00;
}
#playerTurnDisplay {
	text-align: center;
	width: 205px;
	margin: 0px auto 20px auto;
}
.xTurn {
	background: red;
	border: 3px solid red;
}
.yTurn {
	background: blue;
	border: 3px solid blue;
}
table {
	margin: auto;
}
td {
	width: 205px;
	height: 205px;
	text-align: center;
}
.vertical {
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.horizontal {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.circle {
	font-size: 150px;
	color: blue;
	transition: all 0.1s;
	--webkit-transition: all 0.1s;
	--moz-transition: all 0.1s;
}
.cross {
	font-size: 150px;
	color: red;
	transition: all 0.1s;
	--webkit-transition: all 0.1s;
	--moz-transition: all 0.1s;
}
.crossOut {
	background: gold;
	color: black;
	transition: all 0.4s;
	--webkit-transition: all 0.4s;
	--moz-transition: all 0.4s;
}
